.itemsList {
  .element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;

    .elementContent {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 300px;

      input:checked + h4 {
        text-decoration: line-through;
      }
    }
  }

  .element:hover {
    box-shadow: 0px 0px 10px 0px rgba(185, 184, 184, 0.75);
  }
}
